@model IEnumerable<MusicFall2016.Models.Album>
@{
    ViewData["Title"] = "Albums";
}
<h2>Details</h2>
<form action="Create" method="get">
    <button>Create Album</button>
</form>
<form action="\Home\Index" method="get">
    <button>Go back to Home Page</button>
</form>
<form asp-action="Details" method="get">
    <div class="form-actions no-color">
        <p>
            Search albums: <input type="text" name="searchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />      
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
            <a asp-action="Details" asp-route-sortOrder="@ViewBag.TitleSortParm">Title</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewBag.ArtistSortParm">Artist</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewBag.GenreSortParm">Genre</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewBag.PriceSortParm">Price</a>
            </th>
            <th>
                <a asp-action="Details" asp-route-sortOrder="@ViewBag.LikeSortParm">Like</a>
            </th>
        </tr>
    </thead>
    @foreach (var album in Model)
    {
        <tr>
            <td>@album.Title</td>
            <td>@album.Artist.Name</td>
            <td>@album.Genre.Name</td>
            <td>@album.Price</td>
            <td>@album.Like</td>

            <td>
                <a asp-action="Like" asp-route-id="@album.AlbumID">Like</a>
                <a asp-action="Update" asp-route-id="@album.AlbumID">Edit</a>
                <a asp-action="Retrieve" asp-route-id="@album.AlbumID">Details</a>
                <a asp-action="Delete" asp-route-id="@album.AlbumID">Delete</a>
                <a asp-controller="Account" asp-action="Playlist" asp-route-id="@album.AlbumID">Add to playlists</a>
            </td>
        </tr>


    }
</table>


