@model MusicFall2016.Models.Album
@{
    ViewData["Title"] = "Album Information:";
}
<h2>Read album</h2>
<form action="/" method="post">
    Title: @Model.Title<br />
    Artist: @Model.Artist.Name<br />
    Bio: @Model.Artist.Bio<br />
    Genre: @Model.Genre.Name<br />
    Price: @Model.Price<br />
</form>
<form action="/Albums/Details" method="get">
    <button>Go back</button>
</form>