@model MusicFall2016.Models.Album

@{
    ViewData["Title"] = "Album Information:";
}
<h2>Read album</h2>
<form action="/" method="post">
    Title: @Model.Title<br />
    Artist: @Model.Artist.Name<br />
    Bio: @Model.Artist.Bio<br />
    Genre: @Model.Genre.Name<br />
    Price: @Model.Price<br />
    Like: @Model.Like<br />

</form>

<h3>You might also like these albums based on the number of likes:</h3>


<ul span class="glyphicon glyphicon-asterisk"> @ViewData["readAlbum"]</ul>

<form asp-action="Like" asp-route-id="@Model.AlbumID">
    <br />
    <button>Like</button>
</form>

<form asp-action="Update" asp-route-id="@Model.AlbumID" method="get">
    <br />
    <button>Go to Update Album</button>
</form>

<form action="/Albums/Details" method="get">
    <br />
    <button>Go back</button>
</form>