@model IEnumerable<MusicFall2016.Models.Playlist>
@{
    ViewData["Title"] = "Playlists";
}

<h2>Playlists for: @User.Identity.Name (member since @ViewBag.User.dateJoined)</h2>

    <a class="btn btn-sm btn-default" asp-action="Create">Create Playlist</a>

<table class="table">
   @foreach (var playlist in Model)
   {
    <tr>
 <td>@playlist.name</td>
        <td>
            <a class="btn btn-sm btn-default" asp-route-id="@playlist.playListID">Rename</a>
            <a class="btn btn-sm btn-default" asp-route-id="@playlist.playListID">Delete</a>
        </td>
    </tr>
   }
</table>
